<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/styles.css">
    <title>Vue Practice</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<body>
    <h1>Vue Practice</h1>

    <div id="app">  <!----------Vue Component---------------->
        <!-----------------------------------Hide/Show Content------------------------------------------------------>
        <br>
        <h2>Hide/Show Content:</h2>
        <div v-if="showBooks">
            <p>{{ title }} - {{ author }} - {{ age }}</p>
        </div>

        <br>

        <button @click="toggleShowBooks"> <!-- Does the same as the below v-show but worse for performance as it completely removes it from the DOM -->
            <span v-if="showBooks">Hide Books (v-if/v-else)</span>
            <span v-else>Show Books (if/else)</span>
        </button>

        <button @click="toggleShowBooks"> <!-- v-show uses CSS to hide/show the content and doesn't completely remove it from the DOM - this method is better for performance and best used for itme that will used alot like drop downs or links in a nav -->
            <span v-show="showBooks">Hide Books (v-show)</span>
            <span v-show="!showBooks">Show Books (v-show)</span>
        </button>

        <!-----------------------------------Different Events:------------------------------------------------------>
        <br>
        <br>
        <hr>
        <h2>Different Events:</h2>
        <p>(see console log)</p>
        <!-- events syntax is: v-on:click="..." but the short hand is @click="..."-->
        <div class="box" @mouseover="handleEvent($event, 5)">mouseover (enter)</div> <!-- you need to explicitly add $event to get the event object if there is another parameter -->
        <div class="box" @mouseleave="handleEvent">mouseleave</div> <!-- but if there isn't another parameter - in your js you can add 'e' as the only parameter to get the event object -->
        <div class="box" @dblclick="handleEvent">double click</div>
        <div class="box" @mousemove="handleMousemove">position x:{{ x }} y:{{ y }}</div>

        <!-----------------------------------Attribute binding:------------------------------------------------------>
        <br>
        <br>
        <hr>
        <h2>Attribute binding:</h2>
        <!-- the syntax for binding attributes is: v-bind:href="url" or the shorthand version is to use : in place of v-bind e.g :href=""..."-->
        <a v-bind:href="gitHub">My GitHub Account</a>
        <br>
        <a :href="portfolio">My portfolio</a>

        <!-----------------------------------Lists using v-for:------------------------------------------------------>
        <br>
        <br>
        <br>
        <hr>
        <h2>Lists using v-for and attribute binding:</h2>
        <!-- the for loop syntax is: v-for="book in books" -> book is the individual item within the books array, this could be named anything e.g "items in books" -->
        <p>Highlight your favourite books by clicking on them</p>
        <ul class="centered">
            <li v-for="book in books" :class="{fav: book.isFav}" @click="toggleFav(book)"> 
                <img :src="book.img" :alt="book.title">
                <h3>{{ book.title }}</h3> 
                <p>{{ book.author }}</p>
            </li>
        </ul>

        <!-----------------------------------Lists using v-for:------------------------------------------------------>
        <br>
        <br>
        <br>
        <hr>
        <h2>Books Filtered by Favourite:</h2>
        <ul class="centered">
            <li v-for="book in filteredBooks" :class="{fav: book.isFav}" @click="toggleFav(book)"> 
                <img :src="book.img" :alt="book.title">
                <h3>{{ book.title }}</h3> 
                <p>{{ book.author }}</p>
            </li>
        </ul>


    </div>


    <script src="./assets/app.js"></script>
</body>
</html>

